/* Geral */
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteiner {
    position: relative;

    height: 667px;
}

/* Topo */
.topo {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
    border-radius: opx 0px 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    box-shadow:  0px 4px rgba(0, 0, 0, 0.1);
}

.topo img {
    width: 75px;
    height: 53px;
}

.topo ion-icon {
    width: 42px;
    height: 30px;
}

/* Chat */
.chat {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #E5E5E5;
    padding-top: 106px;
}

.mensagem {
    width: 100%;
    border-radius: 3px;
    min-height: 40px;
    margin: 4px 0px;
    box-shadow:  0px 4px rgba(0, 0, 0, 0.05);
    padding: 8px;
}

.status {
    background-color: #DCDCDC;
}

.normal {
    background-color: #FFFFFF;
}

.reservada {
    background-color: #FFDEDE;
}

.horario {
    color: #AAAAAA;
}

/* Barra Lateral */
.tela-lateral {
    width: 25%;
    height: 667px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);

}

.barra-lateral {
    width: 75%;
    height: 667px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-top: 30px;
}

.barra-lateral .titulo {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.barra-lateral p {
    margin-top: 4px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    position: relative;
}

.barra-lateral ion-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.barra-lateral .contatos {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Barra inferior */
.barra-inferior {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0px 4px rgba(0, 0, 0, 0.05);
}

.barra-inferior input {
    position: relative;
    padding-left: 17px;
}

.barra-inferior ion-icon {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 27px;
    bottom: 27px;
}

.oculto {
    display: none;
}

.selecionado {
    position: absolute;
    right: 27px;
    top: 0px;
    color: green;
}